*, *::after, *::before {
  box-sizing: border-box;
}

.aside {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  max-width: 100%;
}

.aside-wrapper {
  height: 100%;
}

.nav-link {
  position: relative;
  transition: all .2s;
}
.nav-link_active {
  font-weight: bold;
}
.nav-link_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 4px;
}